.acf-field-editor-palette {
  .acf-label label {
    @apply cursor-default flex items-center;

    .component-color-indicator {
      @apply ml-2;
    }
  }

  .acf-input {
    @apply max-w-xs mt-2;

    ul {
      @apply list-none grid grid-cols-6 gap-y-3 m-0 p-0 bg-white p-1 border;

      label {
        display: none !important;
      }
      input {
        display: none !important;
      }
      li {
        label {
          display: inline-block !important;
        }
        @apply m-0 p-0 min-w-0 relative;

        input {
          @apply hidden;
        }

        .components-circular-option-picker__option {
          @apply p-0;
        }
      }
    }
  }
  .hidden {
    display: none !important;
  }
  .transparent-bg {
    background: linear-gradient(
      -45deg,
      transparent 48%,
      #ddd 0,
      #ddd 52%,
      transparent 0
    ) !important;
  }
  .empty-value {
    display: none !important;
  }
  .toggle-color-palette {
    @apply flex items-center border p-2 cursor-pointer px-2.5 gap-2;

    &:hover {
      color: var(--wp-admin-theme-color);
    }

    .component-color-indicator {
      @apply h-5 w-5;
    }
  }
}
